body{
  font-family: 'PT Sans';
  color: #6A6A6A;
}
p{
  margin: 2px;
}
p.text-small{
  font-size:12px;
}
#container{
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  border: 1px dashed gray;
}
#profile-container{
  border: 1px dashed blue;

  /* flex */
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#bio{
  text-align:left;
  margin-left: 20px;
}
#name{
  font-size: 30px;
}
#profileImg{
  width: 200px;
  height: 200px;
  margin-right: 30px;
  -webkit-filter: drop-shadow(0px 2px 4px rgba(150,150,150,.8));
}
.social-container img{
  width: 30px;
  margin-right: 5px;
  margin-top: 2px;
  opacity: .6;
}
ul{
  position: absolute;
  bottom: 0px;

  left:0;
  right:0;

  list-style: none;
}
li{
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}
li:hover{
  cursor: pointer;
   color: #C57373;
  font-weight: bold;
}
